<form action="/info" method="post">
  title: <input type="text" name="search[titles]">
  property: <input type="text" name="search[property]">
  limit: <input type="text" name="search[limit]">

  <input type="submit" value="Go get it">
</form>

<!-- ?action=query
&titles=San_Francisco
&prop=images
&imlimit=20
&format=jsonfm
 -->
